* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

h1 {
  font-size: 2.5rem;
  margin-top: 16px;
}

h2 {
  align-self: center;
  font-size: 1.5rem;
  margin-top: 32px;
  margin-bottom: 16px;
}

h3 {
  font-size: 1.15rem;
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
}

h3 img {
  width: 24px;
  object-fit: contain;
  margin-right: 8px;
}

body {
  font-family: Arial;
  background-color: #252525;
  color: #cacaca;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
}

a img {
  width: 36px;
  object-fit: contain;
  margin-right: 8px;
}

main a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #cacaca;
  border-radius: 8px;
  border: 2px solid #cacaca;
  padding: 8px;
  width: 300px;
  height: 40px;
  margin-bottom: 16px;
  margin-left: 4px;
  margin-right: 4px;
}

p a {
  text-decoration: none;
  color: #006eff;
}

footer {
  margin-bottom: 16px;
}

a:hover {
  background-color: #3b3b3b;
}

.black-link {
  border-color: black;
}

.black-link:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

.cyan-link {
  border-color: cyan;
}

.cyan-link:hover {
  background-color: rgba(0, 255, 255, 0.1);
}

.purple-link {
  border-color: purple;
}

.purple-link:hover {
  background-color: rgba(128, 0, 128, 0.1);
}

.yellow-link {
  border-color: yellow;
}

.yellow-link:hover {
  background-color: rgba(255, 255, 0, 0.1);
}

.orange-link {
  border-color: orange;
}

.orange-link:hover {
  background-color: rgba(255, 166, 0, 0.1);
}
